p, h1 { margin: 0; padding: 0; }

body {
    padding-top: 50px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

header {
    width: 100vw;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.title{
    font-family: font-family: 'Roboto', sans-serif;
    text-align: center;
}


.card-header{
    text-align: center;
    font-weight: 500;
}

.col{
    text-align: center;
}

@media (max-width : 650px) {
    .thead-light{
        font-size: 10px;
    }
}

@media (max-width : 450px) {
    .thead-light{
        font-size: 5px;
    }
}


table, th, td {
  border-top: 1px solid black;
  border-collapse: collapse;
}

td {
    padding: 10px;
}

th {
    padding: 10px;
    text-align: center;
    font-size: 20px;
}

table {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.eventsData {
    text-align: center;
}

#tables1 tr:nth-child(even){
    background-color: #f2f2f2;
}

#tables1 tr:hover {
    background-color: #ddd;
}

#tables2 tr:nth-child(odd){
    background-color: #f2f2f2;
}

#tables2 tr:nth-child(1n){
    background-color: white;
}

#tables2 tr:nth-child(2n){
    background-color: white;
}

#tables2 tr:hover {
    background-color: #ddd;
}

th:hover {
    background-color: white;
}













a{text-decoration: none;color: black;}


b {
    text-transform: uppercase;
    line-height: 1;
    font-weight: 900;
    font-size: 50px;
}

.container {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

.container2 {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 70px;
}



.wrapper {
    width: 100%;
    padding-top: 20px;
    color: #292d30;
}


.wrapper h2{
    font-family: 'Timmana', sans-serif;
    text-transform: uppercase;
    /*font-family: Copperplate, 'Copperplate Gothic Light', fantasy;*/
	font-size: 60px;
	font-weight: 600;
	line-height: 26px;
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: 5px solid black;
    margin-right: 70px;
    margin-bottom: 0px;
}


.row {
    width: 100%;
    height: 50%;
    display: block;
}

.column {
    display: inline-block;
    vertical-align: top;
    width: 49%;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
}

.date {
    display: block;
    line-height: 18px;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.dateH {
    display: inline-block;
    line-height: 18px;
    color: black;
    font-size: 15px;
    font-weight: 500;
    margin-right: 10px;
}

.info {
    display: block;
    padding-right: 10%;
    font-family: 'Raleway', sans-serif;
    line-height: 23px;
    color: #414141;
    font-size: 20px;
    margin-bottom: 20px;
}





.word {
    color: #262626;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Timmana', sans-serif;
    padding-right: 7px;
    /*font-family: 'Lato', 'Helvetica Neue', Verdana, Geneva, sans-serif;*/

}



#offer h1 {
    padding: 1em 0 0 0;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    /*font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;*/
    font-family: 'Timmana', sans-serif;
    color: snow;
    font-weight: 900;
}





.column2 {
    display: block;
    vertical-align: top;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
}





.column2 ul li img {
    width: 70px;
    float: left;
    vertical-align: middle;
}

#success ul li p{
    margin-left: 90px;
    padding-top: 17px;

}

.award {
    font-weight: 900;
    font-size: 30px;
}

.datee {
    display: inline-block;
    line-height: 25px;
    color: black;
    font-size: 20px;
    font-weight: 500;
}


.roww {
    width: 100%;
    display: block;
}

.roww ul li img{
    max-width: 300px;
    margin: 10px 30px 10px 0px;
    display: inline-block;
    float: left;
    vertical-align: top;
    overflow: hidden;
    border-radius: 1%;
}





.item {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}


@media (max-height : 600px){
    #oslovenie {padding-top: 130px;font-size: 80px;}
}


@media (max-height : 460px){
    #oslovenie {padding-top: 70px;font-size: 70px;;}
}

@media (max-height : 350px){
    #oslovenie {padding-top: 50px;font-size: 60px;;}
}

@media (max-height : 290px){
    #oslovenie {padding-top: 25px;font-size: 40px;}
}

@media (min-width : 1025px) {
    header {height: 100vh;}
}

@media (max-width : 1024px) {

    b {font-size: 30px;}
    b:hover {color: red;line-height: 1.1;font-weight: 1100;font-size: 40px;}
    #datum {font-weight: 200;font-size: 20px;}
    #zaujem {letter-spacing: 1.2px;margin: 30px 10%;padding: 0;line-height: 1.2;overflow: auto;}
    #widthHeading, #widthAbout, #widthOffer, #widthSuccess, #widthVision, #widthJarvis, #widthFreetime, #widthHelp, #widthContact {width: auto;margin: 0 5%;}
    #widthHeading h1 {font-size: 80px;text-align: center;letter-spacing: 20px;}
    #because {display: block; line-height: 1; font-size: 25px;}
    .column {display: block;width: 100%;}
    .wrapper h2{font-size: 45px;}
    #offer h1 {padding: 0.5em 0;font-size: 35px;}
    #offer ul{margin: 0;}
    #succ {font-size: 60px;margin-bottom: 20px;margin-top: 20px;border: 4px solid gold;letter-spacing: 20px;}
    #success ul {margin: 0;font-size: 20px;}
    .column2 ul li img {width: 60px;}
    #success ul li p {margin-left: 70px;padding-top: 10px;}
}

@media (max-width : 766px) {

    #succ {font-size: 40px;border: 3px solid gold;letter-spacing: 15px;}
    #visionn {font-size: 50px;line-height: 30px;padding: 0;}
    #jarviss {font-size: 50px;line-height: 30px;padding: 0;}
    .roww ul li img {display: block;margin: 5% auto;float: none;}
    #vision iframe {width: 100%;max-width: 560px;}
    #jarvis iframe {width: 100%;max-width: 560px;}
    .slideshow-container img {max-height: 300px;max-width: 100%;}
    #contact h2 {font-size: 30px;}
    #contact h1 {font-size: 40px;}
    #contact h2:hover {font-size: 35px;}
}

@media (max-width : 450px) {

    #prve {overflow: hidden;}
	#oslovenie {padding-top: 350px;font-size: 60px;}
    #widthHeading h1 {font-size: 50px;letter-spacing: 15px;}
    .wrapper h2{font-size: 35px;margin-right: 0;}
    #succ {font-size: 30px;}
    #visionn {font-size: 40px;letter-spacing: 20px;}
    #jarviss {font-size: 40px;letter-spacing: 20px;}
    #freetime h1 {font-size: 50px;}
    #contact h1 {font-size: 30px;}
    #contact h3 {font-size: 25px;}
    #contact h2 {font-size: 22px;}
    .item {margin: 0 5px;}
    #contact h2:hover {font-size: 22px;}
}




.navbar-brand_top {
    text-align: center;
}
