<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="FASTory Monitoring Client" name="description">
    <meta content="Jan Gerber, Radim Karnis, Bernhard Mayrhofer" name="author">

    <title>Web UI monitoring </title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        .row-whith-wide-cards .card {
            width: 100%;
        }
    </style>
</head>

<body style="padding-top: 56px">


<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">FASTory Monitoring</a>
        <button aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-target="#navbarResponsive" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/webmonitor">Events
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="container">
    <div class="row mt-4">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    Current Status Robot and Conveyor
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Status</th>
                            <th scope="col">Last Update</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">Zone 1</th>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">Zone 2</th>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">Zone 3</th>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">Zone 4</th>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">Zone 5</th>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">Robot</th>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    Events
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Event ID</th>
                            <th scope="col">State</th>
                            <th scope="col">Server Time</th>
                        </tr>
                        </thead>
                        <tbody id="eventData">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    Alarms
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Type</th>
                            <th scope="col">Description</th>
                            <th scope="col">Server Time</th>
                        </tr>
                        </thead>
                        <tbody id="alarmData">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    let currentAlarmId = 0;

    function getAllEvents() {
        console.log("get state routine...");

        $.get("/rest/events", function (data) {
            let events = JSON.parse(data);
            console.log(events);
            txt = "";
            for (x in events) {
                let date = new Date(events[x][5]);
                txt += "<tr>";
                txt += "<th scope=\"row\">" + events[x][0] + "</th>";
                txt += "<td>" + events[x][1] + "</td>";
                txt += "<td>" + events[x][4] + "</td>";
                txt += "<td>" + date.toISOString() + "</td>";
                txt += "</tr>"
            }
            document.getElementById("eventData").innerHTML = txt;

        });
    }

    function getAllAlarms() {
        console.log("get state routine...");

        $.get("/rest/alarm", function (data) {
            let alarms = JSON.parse(data);
            console.log(alarms);
            txt = "";
            for (x in alarms) {
                let date = new Date(alarms[x][3]);
                txt += "<tr>";
                txt += "<th scope=\"row\">" + alarms[x][0] + "</th>";
                txt += "<td>" + alarms[x][1] + "</td>";
                txt += "<td>" + alarms[x][2] + "</td>";
                txt += "<td>" + date.toISOString() + "</td>";
                txt += "</tr>"
            }
            document.getElementById("alarmData").innerHTML = txt;

        });
    }

    function getCurrentStatus() {
        console.log("get state routine...");

        $.get("/rest/ws/status", function (data) {
            let statusWS = JSON.parse(data)

        });
    }


    window.setInterval(function () {
        getAllEvents();
        getCurrentStatus();
        getAllAlarms();
    }, 2000);


</script>

</body>
</html>